<%= form_for [@project, @breakpoint] do |f| %>
<p><%= f.label :title %></br>
<%= f.text_field :title %></p>
<p><%= f.label :description %></br>
<%= f.text_field :description %></p>
<p><%= f.label :amount_in_cents %></br>
<%= f.number_field :amount_in_cents %></p>
<%= f.submit %>
<% end %>
