<%= image_tag(@project.image, size: "300x500") %>
<p>Project Name: <%= @project.name %></p>
<p>Project Goal: <%= @project.goal_in_cents %></p>
<p>Project Start Date: <%= @project.start_date.strftime "%A, %-d %B %Y" %></p>
<p>Project End Date: <%= @project.end_date.strftime "%A, %-d %B %Y" %></p>
<p>Project Description: <%= @project.description %></p>


<div class="breakpoints">
<% @project.breakpoints.each do |bp| %>
<p>Pledge Level: <%= bp.title %></p>
<p>Pledge Description: <%= bp.description %></p>
<p>Pledge Amount: <%= bp.amount_in_cents %> </p>
	<% if current_user && @project.owner != current_user %>
		<%= form_tag('/pledges', remote: true) %>
		<%= hidden_field_tag 'bp_id', bp.id %>
		<%= submit_tag "Pledge at this tier" %>
		<% end %>
	<% end %>
<% if @project.owner == current_user  %>
<p><%= link_to "Add another tier", new_project_breakpoint_path(@project) %>
<% end %>
</div>

<script type="text/javascript" src="/Volumes/Storage/LilNeddy/Desktop/clock js/LIB/jquery-2.0.3.js"></script>
<script type="text/javascript" src="/Volumes/Storage/LilNeddy/Desktop/clock js/jquery.countdownTimer.js"></script>
<link rel="stylesheet" type="text/css" href="/Volumes/Storage/LilNeddy/Desktop/clock js/CSS/jquery.countdownTimer.css" />



<div id="countdowntimer"><span id="future_date"><span></div>


<script type="text/javascript">
$(function(){
	$("#future_date").countdowntimer({
      dateAndTime : "2014/07/03 00:00:00",
      size : "lg",
      borderColor: "#FFFFFF",
      backgroundColor: "#AAAAAA",
      fontColor: "#FFFFFF"
	});
});
</script>

