<div id="main">
<div class="frame">
	<div class="col66">
		<div class="img-back">
			<%= image_tag(@project.image, class: "img-full")  %>
		</div>
		<div class="prod-full">
			<h3 class="label-title"><%= @project[:name] %></h3>
			<h4 class="byline">by <%= link_to @project.owner.name, user_path(@project.owner) %></h4>
			<h4>Goal: <%= display_money(@project.goal_in_cents) %></h4>
			<p id="pledged" data-intro='This is how much has been raised by other backers' data-position='right'>Raised: <%= display_money(total_pledges(@project)) %></p>
			<p>Begins: <%= @project.start_date.strftime "%A, %-d %B %Y" %></p>
			<p>Ends: <%= @project.end_date.strftime "%A, %-d %B %Y" %></p>
				<div id="countdowntimer">
					<span id="future_date"></span>
				</div>
			<p data-intro='This is the product description' data-position='right'><%= @project[:description] %></p>
			<p class="main-content"><% @project.tags.any? %>
				Tags:
			  <% @project.tags.each do |tag| %>
			  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
			  <% if tag != @project.tags.last %>
			  |
			  <% end  %>
			<% end %></p>
			  <% if @project.owner == current_user %>
					<span class="navigation-links">
					<%= link_to "Edit project details", edit_project_path(@project) %>
					</span>
			  <% end %>
		</div>
</div>


<%= link_to "Comments", project_comments_path(@project) %>


	<div class="col3" data-intro='These are the different rewards you can pledge to. Remember that you cannot back out of a pledge once committed.' data-position='left'>


			<% @project.breakpoints.by_price.each do |bp| %>
				<div class="prod-full" id="tier-<%= bp.id %>" >
						<div class="label-title">
							<%= bp.title %>
						</div>
						<p><%= display_money(bp.amount_in_cents) %></p>
						<p><%= bp.description %></p>
						<p>
							<% if current_user %>
							<% if backed_bp(current_user, @project) %>
								<% if backed_bp(current_user, @project) == bp %>
								<h4 id="pledge_bp">You pledged at this tier</h4>
								<% end %>
							 <% elsif (@project.owner != current_user) %>
									<%= form_tag('/pledges', remote: true, class: "breakpoint") do %>
										<%= hidden_field_tag 'bp_id', bp.id %>
										<%= submit_tag "Pledge at this tier ", class: "button pledge_button" %>
									<% end %>
							 <% end %>
							<% end %>
						</p>
				</div>
			<% end %>
			<div class="prod-full">
				<% if @project.owner == current_user  %>
					<p><%= link_to "Add another tier", new_project_breakpoint_path(@project) %></p>
				<% elsif !current_user %>
					<p>Please <%= link_to "log in", new_session_path %> or <%= link_to "register", new_user_path %> to back this project</p>
				<% end %>
			</div>
</div>

</div>
</div>
<script type="text/javascript">

	$("#future_date").countdowntimer({
      dateAndTime : "<%= "#{@project.end_date.strftime "%Y/%m/%d %T"}" %>",
      size : "sm",
      borderColor: "#FFFFFF",
      backgroundColor: "#AAAAAA",
      fontColor: "#FFFFFF"
	});

</script>
<% if current_user %>
	<% if @show_overlay %>
		<script>
			jQuery(document).ready(function($) {
				window.setTimeout(function(){
					$('body').chardinJs('start');
				}, 1000)
			});
		</script>
	<% end %>
<% end %>
